<div class="jumbotron jumbotron-extend" style="background-color:black;">
  <div class="home_title">
  <h1 class=text-white>barbar guide</h1>
  <p class=text-white>barbar guideはおしゃれなバーバーサロンを探せるサイトです</p>
  <div>
</div>
