<div class="home-wrapper">
  <div class="container">
    <div class="home-background">
    </div>
    <div class="home_title">
      <h2><span>B</span>arbar <span>G</span>uideはおしゃれなバーバーサロンを探せるサイトです</h2>
    <div>
  </div>
</div>
